
!app.json
!firebase.json
!google-services.json
!GoogleService-Info.plist
!package.json
!pnpm-lock.yaml
.DS_Store
.env*
.expo
.firebase
.gemini
.git
.idea
.vscode
*.json
*.log
*.p8
*.plist
# Temporary webp upload directory
android
assets/webp_upload/
build
claude-temp
dist
functions
ios
node_modules
web-build
