node_modules
functions
.git
.expo
dist
build
ios
android
web-build
.firebase
*.log

.DS_Store
.gemini
.idea
.vscode
.env*
*.p8
*.plist
*.json
!app.json
!package.json
!firebase.json
!google-services.json
!GoogleService-Info.plist
!pnpm-lock.yaml
