<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6391153790-p6cvm48ttavkli6jhurea75jn7prbb3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6391153790-p6cvm48ttavkli6jhurea75jn7prbb3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6391153790-f1gq3c52qgrrodekbhs5vaqtkj880hsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDS6THSjaICWomaH47FVRIGR8aBpy0VbAg</string>
	<key>GCM_SENDER_ID</key>
	<string>6391153790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nischayk3.Spinit-ios</string>
	<key>PROJECT_ID</key>
	<string>livfresh</string>
	<key>STORAGE_BUCKET</key>
	<string>livfresh.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6391153790:ios:e55e28ade61f32948bc42f</string>
</dict>
</plist>